<%- include('components/header.ejs') %>
    <% if (message)  {%>
       <h3 class="alert alert-success"><%= message %></h3> 
    <% } %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <ul>
    <% posts.forEach(post => { %>
        <li> <%=post%> </li>
    <% }) %>
    </ul>


<%- include('components/footer.ejs') %>
