<%- include('components/header.ejs') %>
    <main class="content-area">
        <div class="content-wrapper">
            <aside class="left-sidebar">
                <h2>Topic lists</h2>
                <ul class="topic-lists nav">
                    <li class="topic-card"><i class="fa fa-hand-o-right fa-lg"></i><a href="topic/nodejs">&nbsp; Nodejs</a></li>
                    <li class="topic-card"><i class="fa fa-hand-o-right fa-lg"></i><a href="topic/java">&nbsp; Java</a></li>
                    <li class="topic-card"><i class="fa fa-hand-o-right fa-lg"></i><a href="topic/python">&nbsp; Python</a></li>
                </ul>
            </aside>
            <section class="post-list">
            <% posts.map(post => { %>
                <div class="post-card">
                    <div class="post-title"><a href="/post/<%=post.id%>"><%= post.title %></a></div>
                    <div class="post-desc"><p><%= post.content %></p></div>
                    <div class="post-footer">
                        <button class="upvote-button"><i class="fa fa-thumbs-up"></i>&nbsp; <%= post.upvote %></button>
                        <div class="post-author"><i class="fa fa-user-circle-o fa-2x"></i><span>&nbsp; <%= post.author %></span></div>
                        <div class="post-time"> <time datetime=""><%= post.createData%></time> </div>
                    </div>
                </div>
            <% }) %>
            </section>
            
            <aside class="right-sidebar">
                <!--TODO-->
            </aside>
        </div>
    </main>

<%- include('components/footer.ejs') %>
